*,
*::after, *::before {       
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

html {
    // although technically typographic, it is a base, global definition of 1rem = 10px   
    font-size: 62.5%;    
}                                   

body {
    box-sizing: border-box;
}