.u-center-text { text-align: center;}

.u-margin-bottom-big {margin-bottom: 8rem;} /*this means spacing can be added independently of what it's being added to*/
.u-margin-bottom-medium {margin-bottom: 5rem;} 
.u-margin-bottom-small {margin-bottom: 1.5rem;} /*three options gives us flexibility but also consistency*/

.u-margin-top {margin-top:8rem;}