// home will set out how the page fits together

.section-about {        /*Need to move up to cover white space in above block*/
    background-color: $colour-grey-light-1;
    padding: 25rem 0;
    margin-top: -23.75vh;   /*element abpve has height 95vh, and goes to 75% of that i.e. 23.75vh up*/
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient( /*this is a repeat of the header image*/
        to right bottom,
        rgba($colour-primary-light, 0.8),
        rgba($colour-primary-dark, 0.8)), 
      url(../img/nat-4.jpg);  
    background-size: cover; // almost always want this
    transform: skewY(-7deg) translateY(-5rem); // could use clip-path but skew is quicker - but creates white gap and skews everything inside i.e. cards

    & > * { // > gets direct children, * is everything. Important to 'fix' skew in same place
        transform: skewY(7deg); // this doesn't affect image behind but... apparently not a problem
    }
}

.section-tours {
    background-color: $colour-grey-light-1;
    padding: 20rem 0;
    margin-top: -16vh; 
}

.section-stories {
    position: relative; // for video to be placed absolutely
    padding: 15rem 0;
    // background-color: $colour-grey-light-1; // to be replaced with background video
}